@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@300;400;500&family=Roboto:wght@100;400&display=swap');

:root
{
    --green: green;
    --black: #130f40;
    --light-color: #666;
    --box-shadow: 0 .2rem 1rem rgba(0,0,0.1);
    --border: 1rem solid rgba(0,0,0.1);
    --outline: .1rem solid rgba(0,0,0.1);


}

html{
    scroll-behavior: smooth;
    scroll-padding-top: 4rem;
}


*
{
font-family: 'Poppins', sans-serif;
margin: 0;
padding: 0;
box-sizing: border-box;
outline: none;
border: none;
text-decoration: none;
text-transform: capitalize;
transition: all .2s linear;

}
body {
    background: rgba(0, 124, 124, 0.496);
}

/* css code for banner */

section{
    padding: 2rem 9%;
}

.heading{
    text-align: center;
    padding: 2rem 0;
    padding-bottom: 3rem;
    font-size: 3.5rem;
    color: var(--black);
}

.heading span{
    background: var(--green); 
    color: #fff;
    display: inline-block;
    padding: 0.5rem 3rem;
    /* clip-path: polygon(100% 0, 93% 50%, 100% 99%, 0% 100%, 7% 50%, 0% 0%); */


}

.btn{
    border: 0.2px solid var(--black);
    margin-top: 0.5rem;
    display: inline-block;
    padding: 0.8rem 3rem;
    font-size: 1.4rem;
     border-radius: 0.5rem;
    color: var(--black);
    cursor: pointer;
}

.bhome{
    background-color: white;
}


.btn:hover{
    background: var(--green);
    color: #fff;
    transition: 0.7s linear;
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
}

/* HEADER STARTS */

#head{
display: flex;

}
.header{
    border: 2px solid;
    position: absolute;
top: 0px;
left: 0px;
right: 0px;
display: flex;
align-items: center;
justify-content: space-between;
padding: 2rem 3%;
background: rgb(0, 31, 31);
box-shadow: var(--box-shadow);

}

.header .logo{
    font-size: 2.5rem;
    font-weight: bolder;
}

.header .logo{
    color: cyan;
} 

.header .logo i {
    color: #fff;

}

.header .navbar a{
    font-size: 2rem;
    margin: 0 2rem;
    color: #fff;
}

.header .navbar a:hover{
   color: rgb(0, 233, 0);
}

.header .icons div{
    border: 0px solid;
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.5rem;
    border-radius: .5rem;
    background: #eee;
    color: var(--black);
    font-size: 2rem;
    margin-right: .3rem;
    text-align: center;

}

.header .icons div:hover{
background: var(--green);
color: white;
}

#menu-btn{
    display: none ;
}

.header .search-form{
    border: 0px solid;
    position: absolute;
    top: 110%;
    right: -110%;
    width: 50rem;
    height: 5rem;
    background: #fff;
    border-radius: .5rem;
    overflow: hidden;
    align-items: center;
    box-shadow: var(--box-shadow);
    display: none;
}

.header .search-form.active{
    display: flex;
right: 2rem;
}

.header .search-form input{
height: 100%;
width: 100%;
background: none;
text-transform: none;
font-size: 1.6rem;
color: var(--black);
padding: 0 1.5rem;

}

.header .search-form label{
    font-size: 2.2rem;
    padding-right:1.5rem ;
    color: var(--black);

}

.header .search-form label:hover{
color: var(--green);
}

.header .shopping-cart{
    border: 0px solid;
    position: absolute;
    top: 100%;
    right: -110%;
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: var(--box-shadow);
    width: 35rem;
    background: #fff;
    display: none;
}

.header .shopping-cart.active{
    right: 2rem;
    transition: 0.4s linear;}

.header .shopping-cart .box{
    border: 0px solid;
    display: flex;
    align-items: center;
}

.header .shopping-cart .box img{
    height: 100px ;
    width: 125px;
    padding: 0.5rem;
    margin-right: 10px;
}

.header .shopping-cart .box #motherboard_1{
    font-size: 1rem;
    position: absolute;
    top: 18%;
    right: 2rem;
    cursor: pointer;
    color: var(--light-color);
}

.header .shopping-cart .box #motherboard_1:hover{
color: var(--green);
}

.header .shopping-cart .box #motherboard_2{
    font-size: 1rem;
    position: absolute;
    top: 41%;
    right: 2rem;
    cursor: pointer;
    color: var(--light-color);
}

.header .shopping-cart .box #motherboard_2:hover{
    color: var(--green);
    }

.header .shopping-cart .box #motherboard_3{
    font-size: 1rem;
    position: absolute;
    top: 64%;
    right: 2rem;
    cursor: pointer;
    color: var(--light-color);
}

.header .shopping-cart .box #motherboard_3:hover{
    color: var(--green);
    }

.header .shopping-cart .box .content h3
{
color: var(--black);
font-size: 1.4rem;
padding-bottom: 1rem;
}

.header .shopping-cart .box .content span
{
color: var(--light-color);
font-size: 1.2rem;
}

.header .shopping-cart .box .content .quantity
{
    color: var(--light-color);
    font-size: 1.2rem;
}


.header .shopping-cart .total{
    font-size: 2rem;
    padding: 1rem 0;
    text-align: center;
    color: var(--black);
}

.header .shopping-cart .btn{
    display: block;
    text-align: center;
    margin-top: 1rem 0;
}

.header .login-form
{
    border: 1px solid;
    position: absolute;
    width: 35rem;
    top:110%;
    right: -110%;
    box-shadow: var(--box-shadow);
    padding: 2rem;
    border: 0.5rem;
    background-color: #fff;
    text-align: center;
    display: none;
}

.header .login-form.active{
    display: var(--black);
    right: 2rem;
    transition: 0.4s linear;
}

.header .login-form h3{
    font-size: 2.5rem;
    text-transform: uppercase;
    color: var(--black)
    ;
}

.header .login-form .box{
    width: 100%;
    border: 0px solid;
    margin: .7rem 0;
    background-color: #eee;
    border-radius: 0.5rem;
    padding: 1rem;
    font-size: 1.6rem;
    color: var(--black);
    transform: none;
}

.header .login-form p{
    font-size: 1.4rem;
    padding: .5rem 0;
    color: var(--light-color);
}

.header .login-form p a{
    font-size: 1.4rem;
    padding: .5rem .5rem ;
    color: black;
    text-decoration: underline;

}

/* HEADER ENDS */

/* Home section */
.home{
    /* border: 1px solid;
    display: flex;
    justify-content: center;
    background-position: top;
    background-size: cover;
    min-height: 50vh;
    width: 100%;
    padding-bottom: 10rem;
    background-image: url(../image/frontpage\ img.png);
    background-size: cover;
    text-align: center; */
    background-image: url(../image/frontpage\ img.png);
    min-height: 50vh;
    align-items: center;
    background-size: cover;
    background-position: top;
    justify-content: center;
    margin: 0;
    
}

.home .content{
    padding: 25%;
    border: 0px solid;
    text-align: center;
    max-width: 100%;
}

.home .content h3{

    color: #eee;
    font-size: 3.1rem;
    text-transform: uppercase;
}

.home .content h3 span{
    color: rgb(21, 240, 21);
}


/* feature section */
.feature .box-container{ 
    /* border: 2px solid; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr)); */
    gap: 1.5rem;
    /* text-align: center;
    font-size: 20px;
    gap: 30px;
    padding-top: 20px; */
}

.feature .box-container .box{

/* border: 2px solid; */
padding: 3rem 2rem;
background: #fff;
outline: none;
outline-offset: -1rem;
text-align: center;
box-shadow: var(--box-shadow);
border-radius: 1.5rem;
} 

.feature .box-container .box:hover{
    box-shadow: none;
}

.feature .box-container .box img{
    height: 25rem;
    width: 25rem;
    margin: 1rem 0;
}

.feature .box-container .box h3{
    font-size: 2.3rem;
    color: var(--black);
    text-transform: uppercase;
}


    /* .feature1{
    height: 250px;
    width: 300px;
}

.feature2{
    height: 250px;
    width: 300px;
}

.feature3{
    height: 250px;
    width: 300px;
} */

/* Products */
.products {
    /* border: 1px solid; */
    padding: 3rem;
    margin: 3rem;
}

.products .product-slider{
    margin: 2rem;
}

.products .product-slider .box{
    /* border: 1px solid; */
    background: #fff;
    border-radius: 1rem;
    text-align: center;
    padding: 3rem 2rem;
    box-shadow: var(--box-shadow);
    transition: .2s linear;
}

.products .product-slider .box:hover{
    box-shadow: none;
}

.products .product-slider .box img{

    height: 25rem;
    width: 25rem;
}

.products .product-slider .box h1{
font-size: 2.5rem;
color: var(--black);
}

.products .product-slider .box .price{
    font-size: 2rem;
    color: var(--light-color);
    padding: 0.5rem 0;
}

.products .product-slider .box .stars{
    font-size: 1.7rem;
    color: orange
}

.products .product-slider #cpu_section img{
    height: 25rem;
    width: 25rem;
    border-radius: 1rem;
}
.products .product-slider #gpu_section img{
    margin-top: 3.5rem;
    height: 18rem;
    width: 25rem;
    border-radius: .5rem;
}

.products .product-slider #motherboard_section img{
    margin-top: 3.5rem;
    height: 18rem;
    width: 25rem;
    border-radius: .5rem;
}

.products .product-slider #phone_section img{
    height: 25rem;
    width: 25rem;
    border-radius: .5rem;
}

.products .product-slider #monitor_section img{
    margin-top: 3.5rem;
    height: 18rem;
    width: 25rem;
    border-radius: .5rem;
}

.categories{
    /* border: 1px solid; */
    padding: 3rem;
    margin: 3rem;
}


.categories .categories-slider{
    margin: 2rem;
}

.categories .categories-slider .categories_box{
    /* border: 1px solid; */
    background: #fff;
    border-radius: 1rem;
    text-align: center;
    padding: 3rem 2rem;
    transition: .2s linear;
    box-shadow: var(--box-shadow);
}

.categories .categories-slider .categories_box:hover{
    box-shadow: none;
}

    .categories .categories-slider .categories_box h1{
        font-size: 2.3rem;
        color: var(--black);
        text-transform: uppercase;}
        
    .categories .categories-slider .categories_box .promo{
            font-size: 2rem;
            color: var(--light-color);
    }


    .categories .categories-slider .categories_box .categories_cpu_img{
        height: 25rem;
        width: 25rem;
        border-radius: 1rem;

    }

    .categories .categories-slider .categories_box .categories_gpu_img{
        margin-top: 4.8rem;
        margin-bottom: 2.2rem;
        height: 18rem;
        width: 25rem;
        border-radius: .5rem;
        
    }

    .categories .categories-slider .categories_box .categories_motherboard_img{
        margin-top: 4.8rem;
        margin-bottom: 2.2rem;
        height: 18rem;
        width: 25rem;
        border-radius: .5rem;
        
    }

    .categories .categories-slider .categories_box .categories_phone_img{
        height: 25rem;
        width: 25rem;
        border-radius: .5rem;
        
    }

    .categories .categories-slider .categories_box .categories_monitor_img{
        height: 25rem;
        width: 25rem;
        border-radius: .5rem;
        
    }

    /* footer */

    #footer{
        text-align: center;
        background-color: black;
        color: var(--tc-light-orange);
    }
    
    #footer p {
        font-weight: 200;
        font-size: 20px;
        font-style: italic;
        color: #fff;
    }
    
    #footer span{
        font-weight: 400;
        font-size: 25px;
        color: blanchedalmond;
    }








    


/* MEDIA QUEIRES */
@media (max-width: 991px){
  
    html{
        font-size: 55%;
        
    }
    .header{
        padding: 2rem;
    }
    section{
        padding: 2rem;
    }
}

@media (max-width: 750px){
  

    .header .navbar{
     position: absolute;
     top: 90%;
     right:2rem;
     display: none;
     width: 20rem;
     box-shadow: var(--box-shadow);
     background-color: rgba(0, 27, 27, 0.904);
    }

    .header .navbar.active{
        display: inline-block;
        transition: 0.4s linear;
    }
    #menu-btn{
        display: inline-block;
    }

    .header .navbar a{
        font-size: 2rem;
        margin: 2rem 2.5rem;
        display: block;}

    .header .search-form{
        width: 90%;
    }

    .feature .box-container{
        grid-template-columns: repeat(1, 1fr);

    }
}

@media (max-width: 450px){
    html{
        font-size: 50%;        
    }
}






/* @media (max-width: 714px){ */
  
    /* html{
        font-size: 40%;
    }
    
}

@media (max-width: 635px){
  
    html{
        font-size: 35%;
    }

}


@media (max-width:557px){
  
    html{
        font-size: 33%;
    }

}

@media (max-width:526px){
  
    html{
        font-size: 31%;
    }

}

@media (max-width:426px){
  
    html{
        font-size: 30%;
    }

} */